<!-- <router-outlet /> -->
<div class="poem-container-1">
  <div class="flower-container">
    <img src="/images/flower.png" alt="Flower" />
    <img src="/images/flower.png" alt="Flower" />
  </div>
  <div class="text-container">
    <p class="poetsen-one-regular">Quédate conmigo en silencio</p>
    <p class="poetsen-one-regular">Cinco minutos</p>
    <p class="poetsen-one-regular">Déjate acariciar un momento y</p>
    <p class="poetsen-one-regular">Ven junto a mí</p>
    <p class="poetsen-one-regular">Te daré mis sentimientos</p>
    <p class="poetsen-one-regular">Y me quedaré junto a ti</p>
  </div>
</div>
